[submodule "app/site"]
	path = app/site
	url = git@github.com:arempe93/verifiedbullies.git
[submodule "app/admin"]
	path = app/admin
	url = git@github.com:arempe93/verifiedbullies-admin.git
[submodule "app/chrome"]
	path = app/chrome
	url = https://github.com/alixaxel/chrome-aws-lambda.git
